body {
	background: #acbecc url(/images/grey.png) repeat fixed;
	font-size: 18px;
}

a {
	cursor: pointer;
}

a:link, a:visited {
	color: navy;
}

a:hover {
	color: teal;
}

a:active {
	color: red;
	text-decoration: underline;
}

a.url {
	font-style: italic;
}

.navbar-default {
	background-image: none;
	background-color: transparent;
	border-color: transparent;
	box-shadow: inherit;
}

.navbar-collapse {
	max-height: none;
}

.page-header {
	border-bottom: none;
}

#footer {
	margin-top: 2em;
	border-top: medium dotted #C0C0C0;
	padding-top: 1em;
}
